<!DOCTYPE html>
<html>
  <head>
    <!--    <meta http-equiv="refresh" content="5" />  -->
  </head>
  <body>
    <h1>Listing Reminders</h1>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Describe</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for reminder <- @remindres do %>
        <tr>
          <td><%= reminder.date %></td>
          <td><%= reminder.describe %></td>

          <td>
            <span><%= link "Show", to: Routes.reminder_path(@conn, :show, reminder) %></span>
     <!--   <span><%= link "Edit", to: Routes.reminder_path(@conn, :edit, reminder) %></span> -->
            <span><%= link "Delete", to: Routes.reminder_path(@conn, :delete, reminder), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

    <span><%= link "New Reminder", to: Routes.reminder_path(@conn, :new) %></span>
  </body>
</html>
