<h2 style="color:green; font-family:Times"> 
  Hi, this sait for you! <br>
  It was created using the Phoenix framework.<br>
  You can create a reminder<br> 
  that will be sent to you at the appointed time.<br>
  Please register or log in.<br>
  Well, or you can get acquainted with Phoenixx.
  <br><br><br><br>
</h2>
